.button {
  display: inline-block;
  height: 55px;
  width: 182px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: $white;
  background: $carnation;
  border-radius: 7px;
  outline: none;

  &:hover {
     background: rgba(221, 73, 87, 1);
  }

  &:disabled {
    background: rgba(221, 73, 87, 0.5);
  }

  &--without-background {
    color: $carnation;
    background-color: transparent;
    border: 1px solid $carnation;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}