@import "../../../../styles/supporting/colors";
@import "../../../../styles/components/title.scss";
@import "../../../../styles/components/input.scss";
@import "../../../../styles/components/button.scss";

.movie-details-panel {
   display: flex;
   width: 960px;
   color: $white;
}

.movie-image {
  height: 400px;
  width: 282px;
  margin-right: 60px;
}

.movie-details {
  &__wrap-title-vote-average {
    display: flex;
    align-items: center;
  }

  &__title {
    max-width: 406px;
    font-size: 44px;
    color: $white;
  }

  &__tagline {
    margin-bottom: 34px;
    font-size: 17px;
    color: $silverChalice;
  }

  &__release-date {
    display: inline-block;
    font-size: 23px;
    color: $carnation;
  }

  &__runtime {
    margin-left: 35px;
    display: inline-block;
    font-size: 23px;
    color: $carnation;
  }

  &__overview {
    margin-top: 32px;
    font-size: 17px;
    color: $silverChalice;
  }
}


.vote-average {
  display: flex;
  height: 66px;
  width: 66px;
  border: 1px solid $white;
  border-radius: 50%;
  margin-left: 20px;

  &__number {
    margin: auto;
    font-size: 22px;
    color: #009e00;
  }
}
