@import "../../../../styles/supporting/colors";
@import "../../../../styles/components/title.scss";
@import "../../../../styles/components/input.scss";
@import "../../../../styles/components/button.scss";

.search-panel {
   width: 960px;

   &__title {
      @extend .title
   }
}

.search {
   display: flex;

  &__input {
    @extend .input
  }

  &__button {
    @extend .button;
    width: 230px;
  }
}


