@import "../../../../../styles/supporting/colors";

.movie-card {
   position: relative;
   margin-bottom: 50px;
   color: $silverChalice;
   cursor: pointer;

   &__image {
      height: 460px;
      width: 320px;
      margin-bottom: 19px;
   }  

   
   &__dropdown-menu {
    position: absolute !important;
    margin: 0 !important;
    top: 15px;
    right: 15px;
  }

   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__title {
      font-size: 17px;
      width: 230px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   &__release-date {
      padding: 5px 9px 5px 9px;
      font-size: 15px;
      border: 1px solid #a3a3a3;;
      border-radius: 7px;
   }

   &__geners {
      max-width: 310px;
      margin-top: 3px;
      font-size: 15px;
      font-weight: 700;
      color: $emperor;  
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}

    

