@import "fonts";
@import "../supporting/colors";
@import "../supporting/element-sizes";
@import "../mixins/common-mixins";
@import "../components/input.scss";
@import "../components/select.scss";
@import "../components/button.scss";

.formLayout {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.field {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  &__title {
    display: block;
    margin-bottom: 6px;
    white-space: nowrap;
    color: $carnation;
    font-size: $text-middle-size;
    letter-spacing: 1px;
  }

  &__input {
    @extend .input;
  }

  &__label {
    font-size: 20px;
    color: $white;
  }

  &__select {
    @extend .select;
  }

  &__button {
    @extend .button;
  }

  .error-message {
    color: $carnation
  }
}