@import "../../../../styles/supporting/colors";


.add-edit-movie {
   padding: 74px 84px;
   width: 686px;
}

.add-edit-movie-form {
  &__buttons {
    display: flex;
  }

  &__last {
    margin-bottom: 94px;
  }

  &__reset {
    margin-left: auto;
    margin-right: 16px;
  }
}
    
.filter {
  &__menu {
    margin: 0.125rem auto;
  }

  &__option {
    background-color: white;

    &--is-focused {
      background-color: lightblue;
    }
  }

  &__group {
    padding: 0;
  }
}
