@import "../../../../styles/supporting/colors";
@import "../../../../styles/supporting/element-sizes";

.filters-panel {
   display: flex;
   margin-bottom: 26px;
   height: 38px;
   width: 100%;
   justify-content: space-between;
   border-bottom: 2px solid $emperor;
}

.filters {
   display: flex;
   text-transform: uppercase;

   .filter {
      height: 39px;
      font-size: $text-middle-size;
      color: $white;
      cursor: pointer;

      + .filter {
         margin-left: 30px;
      }

      &:hover {
        border-bottom: 3px solid $silverChalice;
      }
      
      &--selected {
        border-bottom: 3px solid $carnation;

        &:hover {
         border-bottom: 3px solid $carnation;
       }
     }
   }
}

.sort {
   display: flex;
   align-items: center;
   margin-bottom: 17px;

   &__title {
      margin-right: 30px;
      font-size: 18px;
      font-weight: 500;
      color: $emperor;
   }

   &__combobox {
      font-size: 17px;
      color: $white;
   }
}

.arrow {
   display: inline-block;
   margin-left: 12px;   
   margin-bottom: 3px;
   padding: 3px;
   border: solid black;
   border-width: 0 3px 3px 0;   
   border-color: $carnation;
 }

 .down {
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
 }

 .up {
   transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
 }