@import "../../../styles/supporting/colors";

.header {
    margin-bottom: 10px;
    position: relative;
    padding-top: 110px;
    padding-bottom: 55px;
    background-color: $mineShaft; 

    &__baner {
        top: 20px;
        left: 60px;
        position: absolute;
    }

}

